*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    --main-blue-color: rgb(97, 37, 187);
    --borders-color: rgb(225, 225, 225);
    --color-product: rgb(115, 115, 115);
    --color-description: rgb(92, 92, 92);
    --color-golden: rgb(246, 163, 85);
}

/* Header */

header{
    color: var(--main-blue-color);
    font-weight: 600;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.header-socialmedia a ion-icon{
    color: var(--main-blue-color);
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    height: 20px;
    width: 20px;
    margin: 5px;
    padding: 5px
}

.header-socialmedia{
    margin-left: 147px;
}

.header-socialmedia a{
    text-decoration: none;
}

.header-changes{
    display: flex;
    align-items: center;
    margin-right: 147px;
}

.header-changes p{
    font-weight: bolder;
    margin: 5px 10px;
    padding: 0px 10px;
}

@media screen and (max-width: 1000px) {
    .header-socialmedia{
        display: none;
    }

    .header-changes{
        display: none;
    }

    header{
        padding: 10px;
    }
}

/* Search Bar */

.searchbar-container{
    padding: 25px 147px;
    border-bottom: 1px solid var(--borders-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.searchbar-box{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#searchbar{
    height: 45px;
    width: 90%;
    border: 1px solid var(--borders-color);
    border-radius: 10px;
    outline: none;
    padding: 20px;
    font-size: 1rem;
    font-weight: 700;
    color: var(--main-blue-color);
}

#searchicon{
    color: var(--main-blue-color);
    position: absolute;
    font-size: 1.6rem;
    margin-right: 12px;
}

.searchbar-items{
    color: var(--main-blue-color);
    font-size: 2.2rem;
}

.searchbar-items a{
    margin: 5px;
    cursor: pointer;
    text-decoration: none;
}

/* Menu Category List */

.menu-category-list{
    border-bottom: 1px solid var(--borders-color);
    color: var(--main-blue-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-category-list li{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    list-style: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.1rem;
    margin: 0px 30px;
    padding: 10px 0px;
}

.menu-category-list li a{
    padding: 0px 4px;
    text-decoration: none;
    color: var(--main-blue-color);
    display: inline-block;
}

/* Dropdown Menu */

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.menu-category-list ul{
    display: none;
    align-self: flex-start;
    margin-top: 25px;
    padding: 5px;
    width: 215px;
    border-radius: 10px;
    border: 1px solid var(--borders-color);
    background-color: white;
    position: absolute;
}

.menu-category-list li:hover ul{
    animation: fadeIn 200ms;
    display: block;
}

.menu-category-list li:hover .dp-arrow{
    transition: 200ms;
    color: var(--borders-color);
}

.menu-category-list li ul a{
    color: var(--color-product);
    padding: 5px 10px;
    font-weight: 100;
}

.menu-category-list li ul a:hover{
    transition: 200ms ease-out;
    box-shadow: 0px 1px var(--color-description);
}

@media screen and (max-width: 1200px) {
    .menu-category-list{
        display: none;
    }
}

/* Carousel */

.carousel{
    background-color: var(--borders-color);
    height: 350px;
    margin-bottom: 50px;
}

/* Product Showcase */

.product-showcase{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.item-showcase{
    padding: 25px;
    display: flex;
    max-width: 300px;
    margin: 0px 10px;
    border: 1px solid var(--borders-color);
    border-radius: 15px;
}

.item-showcase img{
    padding: 5px;
    margin-right: 20px;
    border: 1px solid var(--borders-color);
    border-radius: 15px;
}

.content-showcase{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-showcase a{
    color: var(--main-blue-color);
    text-decoration: none;
}

.content-showcase a:hover{
    text-decoration: underline;
}

.item-quantity{
    color: var(--main-blue-color);
}

@media screen and (max-width: 1200px) {
    .product-showcase{
        display: none;
    }
}

/* Products */

.img-size-items{
    width: 80px;
    height: 80px;
}

.img-size-leftbar{
    width: 70px;
    height: 70px;
    padding: 3px;
}

.products-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

/* Left Bar */

.leftbar{
    margin-bottom: 10px;
    position: sticky;
    top: 10px;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid var(--borders-color);
    color: var(--main-blue-color);
    font-weight: 600;
    height: fit-content;
}

.section-leftbar{
    border-radius: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    margin: 5px 0px;
}

.section-leftbar:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 6px;
    transition: 200ms;
}

.leftbar-recomendations{
    padding-top: 20px;
    border-top: 1px solid var(--borders-color);
}

.recomendations{
    padding: 5px 0px;
    margin: 5px 0px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.recomendation-info{
    margin-left: 15px;
    width: 180px;
}

.recomendation-name{
    color: var(--color-description);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.recomendation-review{
    color: var(--color-golden);
}

.recomendation-price{
    font-weight: 200;
    color: var(--color-product);
}

.recomendation-img{
    width: 60px;
}

@media screen and (max-width: 1200px) {
    .leftbar{
        display: none;
    }
}

/* Right Bar */

.rightbar{
    display: flex;
    flex-direction: column;
    width: 1000px;
}

.pecas-separadas{
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    margin: 10px;
    display: flex;
    align-items: center;
}

.pecas-separadas:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 6px;
    transition: 200ms;
}

.item-name{
    color: var(--color-description);
    font-weight: 600;
}

.item-category{
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--color-description);
}

.item-price{
    font-weight: 500;
    color: var(--main-blue-color);
}

.pecas-separadas-container{
    height: 350px;
    overflow: scroll;
    margin: 0px 10px;
    padding: 0px 10px;
    border: 1px solid var(--borders-color);
    border-radius: 10px;
    color: var(--color-product);
}

.pecas-separadas-container h1{
    position: sticky;
    top: 0px;
    text-align: center;
    padding: 5px;
    background-color: white;
    border-bottom: 1px solid var(--borders-color);
}

.pecas-separadas-info{
    margin: 0px 20px;
}

.pcs-montados-container{
    height: 350px;
    overflow: scroll;
    margin: 10px 10px;
    padding: 0px 10px;
    border: 1px solid var(--borders-color);
    border-radius: 10px;
    color: var(--color-product);
}

.pcs-montados-container h1{
    position: sticky;
    top: 0px;
    text-align: center;
    padding: 5px;
    background-color: white;
    border-bottom: 1px solid var(--borders-color);
}

.pcs-trabalho-container{
    height: 350px;
    overflow: scroll;
    margin: 0px 10px;
    padding: 0px 10px;
    border: 1px solid var(--borders-color);
    border-radius: 10px;
    color: var(--color-product);
}

.pcs-trabalho-container h1{
    position: sticky;
    top: 0px;
    text-align: center;
    padding: 5px;
    background-color: white;
    border-bottom: 1px solid var(--borders-color);
}

/* Last Release */

.last-release-container{
    display: flex;
    align-items: center;
    margin: 10px;
    border: 1px solid var(--borders-color);
    border-radius: 10px;
    text-decoration: none;
}

.last-release-info{
    margin: 20px;
}

.last-release-img{
    margin: 10px;
    width: 400px;
    border-radius: 10px;
}

.release-review{
    font-size: 1.5rem;
    color: var(--color-golden);
    font-weight: 600;
}

.release-name{
    font-size: 1.5rem;
    color: var(--color-description);
    font-weight: 600;
}

.release-description{
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--color-description);
}

.release-price{
    font-size: 1.2rem;
    margin-top: 10px;
    font-weight: 500;
    color: var(--main-blue-color);
}

/* More Products */

.more-products{
    display: flex;
    flex-wrap: wrap;
}

.more-products-container{
    margin: 0px 10px;
    padding: 0px 10px;
    border-radius: 10px;
    color: var(--color-product);
}

.more-products-container h1{
    text-align: center;
    padding: 5px;
    background-color: white;
    border-bottom: 1px solid var(--borders-color);
}

.more-items{
    font-size: 0.813rem;
    letter-spacing: 1px;
    margin: 10px;
    border: 1px solid var(--borders-color);
    border-radius: 10px;
    width: 220px;
    padding: 10px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.more-products{
    display: flex;
    justify-content: center;
}

.more-item-name{
    color: var(--color-description);
    font-size: 1.05rem
}

.more-item-category{
    text-align: center;
    border-bottom: 1px solid var(--borders-color);
    margin: 5px;
    color: var(--color-product);
}

.more-item-price{
    font-size: 1rem;
}

.more-products-img{
    padding: 5px;
    width: 180px;
}

.more-item-review{
    margin: 5px 0px;
 color: var(--color-golden);
}

.more-items:hover .more-products-img{
    padding: 0px;
    transition: 200ms;
}

/* About Us */

.about-us-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.about-us{
    margin-top: 20px;
    width: 250px;
}

.about-us-img{
    width: 80px;
}

.about-us-title{
    border-bottom: 1px solid var(--borders-color);
    font-size: 1.5rem;
    color: var(--color-description);
    font-weight: 600;
    padding: 10px;
}

.about-us-box{
    margin-top: 20px;
    border: 1px solid var(--borders-color);
    padding: 20px;
    border-radius: 10px;
}

.about-us-content{
    color: var(--main-blue-color);
    font-weight: 600;
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-us-content p{
    text-align: center;
    padding: 5px 10px;
}

.about-us-promo{
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.about-us-promo a{
    color: var(--color-description);
    width: 300px;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    padding: 40px;
    border-radius: 5px;
    background-color: rgba(225, 225, 225, 0.8);
    justify-self: center;
    position: absolute;
}

.promo-discount{
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    padding: 10px 0px;
    border-radius: 10px;
    background-color: var(--color-description);
}

.buy-now-promo{
    padding: 15px;
    font-weight: 600;
    color: var(--main-blue-color);
    font-size: 1.6rem;
}

.about-us-promo-img{
    width: 100%;
    height: 100%;
}

.our-services-box{
    border: 1px solid var(--borders-color);
    border-radius: 10px;
    margin-top: 20px;
}

.our-services-item{
    text-decoration: none;
    color: var(--main-blue-color);
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    margin: 20px;
}

.our-services-item:hover{
    color: var(--color-description);
    transition: 200ms;
}

.our-services-item ion-icon{
    font-size: 2.2rem;
    margin-right: 10px;
}

/* Footer */

footer{
    width: 100%;
    margin-top: 50px;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--borders-color);
}

.footer-title{
    color: var(--main-blue-color);
    margin-bottom: 40px;
    font-size: 1.4rem;
}

.footer-description{
    color: var(--color-product);
    font-size: 1rem;
    letter-spacing: 0.1px;
    margin-bottom: 20px;
}

.footer-category-container{
    width: 80%;
    color: var(--main-blue-color);
    font-size: 0.5rem;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
}

.footer-category-container div{
    white-space: nowrap;
}

.footer-category-container div h1{
    margin: 30px;
}

.footer-category-container div a{
    text-decoration: none;
    font-size: 0.8rem;
    margin: 8px 30px;
    display: flex;
    align-items: center;
}

.footer-category-container div a:hover{
    transition: 200ms;
    color: var(--color-description);
    text-decoration: underline;
}

.footer-category-container div ion-icon{
    padding: 5px;
    text-decoration: none;
    font-size: 1.8rem;
}

/* Scrollbar */

::-webkit-scrollbar-track
{
    display: none;
}

::-webkit-scrollbar
{
	width: 7px;
	background-color: transparent;
}

::-webkit-scrollbar-corner{
    display: none;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: var(--main-blue-color);
}

/* Buying | Cart */

.buying-container{
    border: 1px solid var(--borders-color);
    margin: 30px 100px;
    height: 500px;
    border-radius: 10px;
}

.buying-title{
    color: var(--main-blue-color);
    margin: 0px 10px;
    padding: 15px 0px;
    border-bottom: 1px solid var(--borders-color);
    font-weight: 500;
    text-align: center;
}

.buying-products{
    display: flex;
    height: 100%;
}

/* Cupom */

.cupom-container{
    display: flex;
}

.cupom_box #cupom{
    color: hsl(262, 81%, 37%);
    opacity: 0.75;
    height: 75px;
    border: 3px solid gray;
    border-radius: 10px 0px 0px 10px;
    font-weight: 800;
    font-size: 2rem;
    text-align: left;
    outline: none;
    resize: none;
    overflow: auto;
    padding: 10px;
    transition: all 0.2s;
}

.cupom_box #cupom:hover{
    cursor: pointer;
    background-color: #f8f8f8;
}

.cupom_box #cupom:focus{
    cursor: text;
    border: 3px solid hsl(262, 81%, 37%);
}

.aplicar_cupom_box #botao{
    text-transform: uppercase;
    opacity: 0.75;
    color: white;
    display: flex;
    align-items: center;
    padding: auto;
    width: auto;
    height: 75px;
    border-radius: 0px 10px 10px 0px;
    background-color: hsl(262, 81%, 37%);
    border: 3px solid hsl(262, 81%, 37%);
    outline: none;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s;
}

.aplicar_cupom_box #botao:hover{
    background-color: black;
    border: 3px solid black;
}

.aplicar_cupom_box #botao:active{
    transition: all 0.5s;
    opacity: 0.25;

}

@media (min-width: 480px) {
  
    /**
     * #CUSTOM PROPERTY
     */
  
    :root {
  
      /**
       * typography 
       */
  
      --fs-1: 1.875rem;
  
    }
  
  
  
    /**
     * #HEADER
     */
  
    .header-top {
      display: block;
      padding: 10px 0;
      border-bottom: 1px solid var(--cultured);
    }
  
    .header-social-container,
    .header-top-actions { display: none; }
  
    .header-alert-news {
      color: var(--sonic-silver);
      font-size: var(--fs-9);
      text-transform: uppercase;
    }
  
    .header-alert-news b { font-weight: var(--weight-500); }
  
    .header-main { padding: 25px 0; }
  
    .mobile-bottom-navigation {
      border-top-left-radius: var(--border-radius-md);
      border-top-right-radius: var(--border-radius-md);
    }
  
  
  
    /**
     * #BANNER
     */
  
    .slider-item { aspect-ratio: 5 / 3; }
  
    .banner-content {
      top: 50%;
      right: auto;
      bottom: auto;
      transform: translateY(-50%);
      max-width: 320px;
    }
  
    .banner-subtitle { --fs-7: 1rem; }
  
    .banner-text {
      display: block;
      color: var(--sonic-silver);
      font-size: var(--fs-7);
      font-weight: var(--weight-500);
      margin-bottom: 10px;
    }
  
    .banner-text b { font-size: var(--fs-2); }
  
    .banner-btn { padding: 7px 20px; }
  
  
  
    /**
     * #PRODUCT 
     */
  
    .product-grid {
      grid-template-columns: 1fr 1fr;
      gap: 30px;
    }
  
  
  
    /**
     * #CTA
     */
  
    .cta-content { padding: 40px; }
  
    .cta-content .discount {
      --fs-11: 0.875rem;
      padding: 5px 10px;
    }
  
    .cta-title { --fs-5: 1.5rem; }
  
    .cta-text { --fs-7: 1rem; }
  
    .cta-btn { --fs-9: 1rem; }
  
  
  
    /**
     * #FOOTER
     */
  
    .copyright { --fs-8: 0.875rem; }
  
  }
  
  
  
  
  
  /**
   * responsive larger than 570px screen
   */
  
  @media (min-width: 570px) {
  
    /**
     * #HEADER
     */
  
    .header-top .container,
    .header-main .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .header-logo { margin-bottom: 0; }
  
    .header-top-actions {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  
    .header-top-actions select {
      border: none;
      display: block;
      min-width: 80px;
      padding: 5px 0;
      font: inherit;
      color: var(--sonic-silver);
      font-size: var(--fs-8);
      text-transform: uppercase;
      cursor: pointer;
      transition: var(--transition-timing);
    }
  
    .header-top-actions select:hover { color: var(--eerie-black); }
  
    .header-search-container { min-width: 300px; }
  
  
  
    /**
     * #BANNER
     */
  
    .slider-item { aspect-ratio: 4 / 2; }
  
    .banner-content { background: none; }
  
  
  
    /**
     * #CATEGORY
     */
  
    .category-item-container { gap: 30px; }
  
    .category-item { min-width: calc(50% - 15px); }
  
  
  
    /**
     * #PRODUCT
     */
  
    .product-minimal .showcase-container { min-width: 50%; }
  
    .product-featured .showcase-img {
      max-width: 450px;
      margin: auto;
    }
  
    .product-featured .countdown { gap: 20px; }
  
  
  
    /**
     * #CTA
     */
  
    .cta-container { aspect-ratio: 6 / 5; }
  
  
  
    /**
     * #BLOG
     */
  
    .blog-container { gap: 30px; }
  
    .blog-card { min-width: calc(50% - 15px); }
  
  }
  
  
  
  
  
  /**
   * responsive larger than 768px screen
   */
  
  @media (min-width: 768px) {
  
    /**
     * #CUSTOM PROPERTY
     */
  
    :root {
  
      /**
       * typography 
       */
  
      --fs-1: 2.375rem;
  
    }
  
  
  
    /**
     * #BASE 
     */
  
    html { font-size: 17px; }
  
  
  
    /**
     * #REUSED STYLE 
     */
  
    .container {
      max-width: 750px;
      margin: auto;
    }
  
  
    
    /**
     * #MODAL 
     */
  
    .modal-content {
      display: flex;
      align-items: center;
      max-width: 750px;
      width: fit-content;
    }
  
    .newsletter-img { display: block; }
  
    .newsletter { text-align: left; }
  
  
  
    /**
     * #HEADER 
     */
  
    .header-main .container { gap: 80px; }
  
    .header-search-container { flex-grow: 1; }
  
  
  
    /**
     * #BANNER 
     */
  
    .slider-item {
      aspect-ratio: auto;
      height: 350px;
    }
  
    .banner-content { max-width: 380px; }
  
    .banner-subtitle { --fs-7: 1.25rem; }
  
    .banner-text { --fs-7: 1.125rem; }
  
    .banner-text b { --fs-2: 1.875rem; }
  
    .banner-btn { --fs-11: 0.75rem; }
  
  
  
    /**
     * #CATEGORY 
     */
  
    .category-img-box { padding: 20px; }
  
  
  
    /**
     * #PRODUCT 
     */
  
    .product-minimal {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    }
  
    .product-minimal .product-showcase {
      min-width: calc(50% - 10px);
      width: calc(50% - 10px);
    }
  
    .product-minimal .showcase-container { min-width: 100%; }
    
    .product-featured .showcase {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
  
    .product-featured .showcase-img { max-width: fit-content; }
  
    .product-featured .showcase-content {
      margin-top: 0;
      min-width: calc(100% - 345px);
    }
  
  
  
    /**
     * #FOOTER 
     */
  
    .footer-nav .container {
      display: flex;
      flex-wrap: wrap;
      row-gap: 50px;
      column-gap: 20px;
    }
  
    .footer-nav-list {
      min-width: calc(33.33% - 15px);
      width: calc(33.33% - 15px);
      flex-grow: 1;
    }
  
    .footer-nav-list:not(:last-child) { margin-bottom: 0; }
  
  }
  
  
  
  
  
  /**
   * responsive larger than 1024px screen
   */
  
  @media (min-width: 1024px) {
  
    /**
     * #CUSTOM PROPERTY
     */
  
    :root {
  
      /**
       * typography 
       */
  
      --fs-1: 2.625rem;
      --fs-2: 1.125rem;
  
    }
  
  
  
    /**
     * #REUSED STYLE 
     */
  
    .container { max-width: 980px; }
  
  
  
    /**
     * #NOTIFICATION TOAST 
     */
  
    .notification-toast { bottom: 30px; }
  
  
  
    /**
     * #HEADER 
     */
  
    .header-social-container {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  
    .header-social-container .social-link {
      padding: 5px;
      background: hsl(0, 0%, 95%);
      border-radius: var(--border-radius-sm);
      color: var(--sonic-silver);
      transition: var(--transition-timing);
    }
  
    .header-social-container .social-link:hover {
      background: var(--salmon-pink);
      color: var(--white);
    }
  
    .header-user-actions {
      display: flex;
      align-items: center;
      gap: 15px;
    }
  
    .header-user-actions .action-btn {
      position: relative;
      font-size: 35px;
      color: var(--onyx);
      padding: 5px;
    }
  
    .header-user-actions .count {
      position: absolute;
      top: -2px;
      right: -3px;
      background: var(--bittersweet);
      color: var(--white);
      font-size: 12px;
      font-weight: var(--weight-500);
      line-height: 1;
      padding: 2px 4px;
      border-radius: 20px;
    }
  
    .desktop-navigation-menu { display: block; }
  
    .desktop-menu-category-list {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
    }
  
    .desktop-menu-category-list .menu-category:not(:nth-child(2)) { position: relative; }
  
    .desktop-menu-category-list .menu-category > .menu-title {
      position: relative;
      color: var(--onyx);
      font-size: var(--fs-7);
      font-weight: var(--weight-600);
      text-transform: uppercase;
      padding: 15px 0;
      transition: var(--transition-timing);
    }
  
    .desktop-menu-category-list .menu-category > .menu-title:hover { color: var(--salmon-pink); }
    
    .desktop-menu-category-list .menu-category > .menu-title::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: var(--salmon-pink);
      transform: scaleX(0);
      transform-origin: left;
      transition: var(--transition-timing);
    }
  
    .desktop-menu-category-list .menu-category > .menu-title:hover::after { transform: scaleX(1); }
  
    .dropdown-panel {
      position: absolute;
      top: 100%;
      left: 0;
      background: var(--white);
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 30px;
      padding: 30px;
      border: 1px solid var(--cultured);
      box-shadow: 0 3px 5px hsla(0, 0%, 0%, 0.1);
      border-radius: var(--border-radius-md);
      transform: translateY(50px);
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: var(--transition-timing);
      z-index: 5;
    }
  
    .desktop-menu-category-list .menu-category:hover > .dropdown-panel {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  
    .dropdown-panel-list .menu-title a {
      color: var(--onyx);
      font-size: var(--fs-7);
      font-weight: var(--weight-600);
      padding-bottom: 10px;
      border-bottom: 1px solid var(--cultured);
      margin-bottom: 10px;
    }
  
    .panel-list-item a {
      color: var(--sonic-silver);
      font-size: var(--fs-7);
      text-transform: capitalize;
      transition: var(--transition-timing);
    }
  
    .panel-list-item a:hover { color: var(--salmon-pink); }
  
    .panel-list-item:not(:last-child) a { padding: 4px 0; }
  
    .panel-list-item:last-child { margin-top: 20px; }
  
    .panel-list-item img {
      width: 100%;
      height: auto;
      border-radius: var(--border-radius-sm);
    }
  
    .dropdown-list {
      position: absolute;
      top: 100%;
      left: 0;
      width: 200px;
      background: var(--white);
      padding: 20px 0;
      border-radius: var(--border-radius-md);
      border: 1px solid var(--cultured);
      box-shadow: 0 3px 5px hsla(0, 0%, 0%, 0.1);
      transform: translateY(50px);
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: var(--transition-timing);
      z-index: 5;
    }
  
    .desktop-menu-category-list .menu-category:hover > .dropdown-list {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  
    .dropdown-list .dropdown-item a {
      color: var(--sonic-silver);
      font-size: var(--fs-7);
      text-transform: capitalize;
      padding: 4px 20px;
      transition: var(--transition-timing);
    }
  
    .dropdown-list .dropdown-item a:hover { color: var(--salmon-pink); }
  
    .mobile-bottom-navigation { display: none; }
  
  
  
    /**
     * #BANNER 
     */
  
    .banner { margin-top: 0; }
  
    .slider-item { height: 380px; }
  
    .banner-content {
      left: 75px;
      max-width: 400px;
    }
  
    .banner-subtitle { --fs-7: 1.625rem; }
  
    .banner-text { --fs-7: 1.375rem; }
  
    .banner-btn { --fs-11: 0.875rem; }
  
  
  
    /**
     * #CATEGORY 
     */
  
    .category-item { min-width: calc(33.33% - 20px); }
  
    .category-img-box { padding: 10px; }
  
  
  
    /**
     * #PRODUCT 
     */
  
    .product-container .container {
      position: relative;
      display: flex;
      align-items: flex-start;
      gap: 30px;
      margin-bottom: 30px;
    }
  
    .sidebar {
      --fs-5: 0.941rem;
  
      position: sticky;
      top: 30px;
      left: 0;
      padding: 0;
      min-width: calc(25% - 15px);
      margin-bottom: 30px;
      visibility: visible;
      overflow-y: auto;
      overscroll-behavior: auto;
      z-index: 0;
    }
  
    .sidebar-category {
      padding: 20px;
      margin-bottom: 30px;
      border: 1px solid var(--cultured);
      border-radius: var(--border-radius-md);
    }
  
    .sidebar-close-btn { display: none; }
  
    .product-box { min-width: calc(75% - 15px); }
  
    .product-minimal { margin-bottom: 20px; }
  
    .product-minimal .product-showcase {
      min-width: calc(33.33% - 14px);
      width: calc(33.33% - 14px);
      flex-grow: 1;
    }
  
    .product-minimal .showcase-wrapper { gap: 10px; }
  
    .product-minimal .showcase-container { padding: 2px; }
  
    .product-featured .countdown-content { padding: 5px 10px; }
  
    .product-grid { grid-template-columns: repeat(3, 1fr); }
  
  
  
    /**
     * #TESTIMONIALS, CTA & SERVICE 
     */
  
    .testimonials-box {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      gap: 30px;
    }
  
    .testimonial-card { margin-bottom: 0; }
  
    .testimonial, .cta-container {
      min-width: calc(50% - 15px);
      width: calc(50% - 15px);
      margin-bottom: 0;
    }
  
    .service { width: 100%; }
  
    .service-container { gap: 0; }
  
    .service-item {
      flex-direction: column;
      text-align: center;
      min-width: 20%;
    }
  
  
  
    /**
     * #BLOG
     */
  
    .blog-card { min-width: calc(33.33% - 20px); }
  
    .blog-title { --fs-5: 1rem; }
  
  
  
    /**
     * #FOOTER
     */
  
    .footer-nav-list {
      min-width: calc(20% - 16px);
      width: calc(20% - 16px);
    }
  
    .footer-nav-list:last-child { display: none; }
  
    .footer-bottom { margin-bottom: 0; }
  
  }
  
  
  
  
  
  /**
   * responsive larger than 1200px screen
   */
  
  @media (min-width: 1200px) {
  
    /**
     * #REUSED STYLE 
     */
  
    .container { max-width: 1200px; }
  
  
  
    /**
     * #HEADER
     */
  
    .desktop-menu-category-list { gap: 45px; }
  
  
  
    /**
     * #BANNER
     */
  
    .slider-item:last-child .banner-img { object-position: top; }
  
  
  
    /**
     * #CATEGORY
     */
  
    .category-item { min-width: calc(25% - 22.5px); }
  
    .category-item-title { --fs-9: 0.824rem; }
  
  
  
    /**
     * #PRODUCT
     */
  
    .product-featured .showcase > div { min-width: calc(50% - 10px); }
  
    .product-featured .display-number { --fs-5: 1.125rem; }
  
    .product-grid { grid-template-columns: repeat(4, 1fr); }
  
  
  
    /**
     * #TESTIMONIALS, CTA, SERVICE
     */
  
    .testimonial, .service {
      min-width: calc(25% - 20px);
      width: calc(25% - 20px);
    }
  
    .cta-container {
      min-width: calc(50% - 20px);
      width: calc(50% - 20px);
      aspect-ratio: unset;
    }
  
    .service-container {
      justify-content: flex-start;
      gap: 16px;
      padding: 30px;
    }
  
    .service-item {
      flex-direction: row;
      text-align: left;
    }
  
  
  
    /**
     * #BLOG
     */
  
    .blog { margin-bottom: 50px; }
    
    .blog-card { min-width: calc(25% - 22.5px); }
  
  
  
    /**
     * #FOOTER
     */
  
    footer { padding-top: 50px; }
  
    .footer-category {
      margin-bottom: 50px;
      padding-bottom: 35px;
    }
  
    .footer-nav { padding-bottom: 50px; }
  
  }
  
  
  
  
  
  /**
   * responsive larger than 1400px screen
   */
  
  @media (min-width: 1400px) {
  
    /**
     * #BASE 
     */
  
    html { font-size: 18px; }
  
  
  
    /**
     * #REUSED STYLE 
     */
  
    .container { max-width: 1350px; }
  
  
  
    /**
     * #BANNER
     */
  
    .slider-item { height: 450px; }
  
    .banner-content {
      left: 110px;
      max-width: 460px;
    }
  
  }